html, body {
    background: #222;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Open Sans";
    color: #FFF;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#glyph {
    position: absolute;
    top: 0;
    left: 100px;
    margin: 0 auto;
}
.item {
    float: left;
    cursor: pointer;
    border: solid 1px #EEE;
    margin-top: -1px;
    margin-right: -1px;
    background: #FFF;
}
.page {
    vertical-align: middle;
    font-size: 13px;
    cursor: pointer;
    padding: 4px 8px;
    margin-bottom:5px;
    color: #888;
    background: rgba(255, 255, 255, 0.05);
    border-radius:3px;
}
.page-selected {
    font-weight: bold;
    color: #FFF;
    background: rgba(255, 255, 255, 0.1);
}
.browse-wrap {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-color: #DA3610;
    width: 100%;
}
.title {
    color: #FFF;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0;
    border: none !important;
}
.upload {
    right: 0;
    margin: 0;
    bottom: 0;
    padding: 0;
    opacity: 0;
    height: 300px;
    outline: none;
    cursor: inherit;
    position: absolute;
    font-size: 1000px !important;
    font-family: "Open Sans";
}
.upload-path {
    text-align: center;
    margin: 20px;
    display: block;
    padding: 0;
    font-size: 80%;
    color: #3b5998;
    font-family: "Open Sans";
}
#pagination, .pagination {
    text-align: left;
    font-size: 12px;
    height: 100%;
    color: #FFF;
}
.item:hover {
    background: #EEE;
}
#glyph-data {
    float: left;
}
#glyph-data dl {
    margin: 0;
}
#glyph-data dt {
    float: left;
    font: bold 12px/1.4 "Open Sans";
    color: #788b94;
    text-transform: uppercase;
    margin-bottom: 10px;
}
#glyph-data dd {
    margin-left: 90px;
    font: 600 12px/1.4 "Open Sans";
    color: #c3d7ef;
    text-transform: uppercase;
    margin-bottom: 10px;
}
